 
@media screen and ( max-width:1240px) {
    .intro{
        max-width: 100vw;
    }
    .info{
        max-width: 90vw;
    }
    .about{
        max-width: 90vw;
    }
    .myskills{
        max-width: 90vw;
    }
    .interests{
        max-width: 90vw;

    }
    .projects{
        max-width: 90vw;
    }
    .myskillsRight{
        max-width: 90vw;
    }
    .contact{
        max-width: 90vw;

    }
    
}
@media screen and ( max-width:1050px) {
    .im1{
        height: 118px;
    }
    .navbar{
        max-width: 100vw;
        padding: 15px 25px;
    }
   
   

}
 
@media screen and ( max-width:997px) {
    
    .aboutLeft{
        position: absolute;
        width: 100%;
        justify-content: center;
        z-index: 1;
    }
    .aboutRight{
        opacity: 0.4;
    }
    .interestsRight{
        flex-wrap: wrap;
        justify-content: center;
    }
    .designs{
        padding: 15px ;
        margin: 15px 15px;
    }
    .aboutRight img{
    transform: none;
    box-shadow: none;
    height: 575px;

    }
  
}
@media screen and (max-width:900px) {
    .navbar i{
        display: flex;
    }
    .navright  {
        position: fixed;
        background-color: #ff004f;
        height: 100vh;
        width: 200px;
        display: flex;
        flex-direction: column;
        top: 0;
        z-index:5;
        padding-top: 50px;
        transition: right 0.4s ease-in-out;
        align-items: center;
    }
    .navright li{
        padding: 25px 15px;
        font-size: 35px;
    }
    .navright i{
        position: absolute;
        top: 25px;
        cursor: pointer;
        font-size: 35px;
        left: 140px;
    }

}
@media screen and (max-width:790px) {
    .infoLeft{
        width: 100%;
        text-align: justify;
    }
    .info{
        max-width: 90vw;
    }
     
    
    .hr{
        margin-top: 45px;
    }
}
@media screen and (max-width:755px) {
    .contact{
        flex-wrap: wrap;
    }
    .contactLeft{
        width: 100%;
        padding-top: 0;
    }
    .contactLeft h1{
        padding-top: 0;
    }
    .contactRight{
        width: 100%;
        padding-top: 0;
    }
    .message{
        display: flex;
         width: 100%;
         justify-content: center;
        color: black;
    }
    .thanks{
        display: none;
    }
}
@media screen and (max-width:720px) {
    .pc{
        display: none;
    }
    .im1{
        padding: 0 50px;
    }
.phone{
    display: block;
    height: 550px;
    border-radius:15px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 5);
    /* opacity: 0.8; */
    transition: all 0.5s ease-in-out;
}
.aboutLeft{
    margin-top: 20%;
}
.aboutLeft p{
    font-size: 25px;
}
.aboutLeft h1{
    font-size: 40px;
}
.infoLeft{
 margin-top: 0;  

}
.infoLeft h1{
    margin-bottom: 0;
    padding: 15px 0;
    padding-top: 0;
}
}
@media screen and ( max-width:650px) {
    .tab-links{
        padding: 0 2px;
    }
    .links p{
        overflow: hidden;
    }
    .box{
        width:80vw
    }
  
}
@media screen and (max-width:500px) {
    .titleLeft{
        font-size: 20px;
    }
    .links p{
        font-size: 15px;
        padding: 10px 5px;
    }
    .infoRight{
        width: 100%;
        justify-content: center;
    }
    .heading{
        font-size: 40px;
    }
    .im1{
        height: 70px;
    }

}
@media screen and (max-width:400px) {
    .aboutLeft{
        margin-top: 50%;
    }
    .contactLeft p{
        font-size: 18px;
    }
    .footer{
        font-size: 12px;
    }
    .im1{
        padding: 0 40px;
    }
}
@media screen and (max-width:340px) {
    .titleLeft {
        font-size: 18px;
    }
    .links p{
        font-size: 12px;
    }
    .aboutLeft h1 {
        font-size: 35px;
    }
    .aboutLeft p {
        font-size: 20px;
    }
    .aboutRight img {
        transform: none;
        box-shadow: none;
        height: 400px;
    }
    .contactLeft p{
        font-size: 13px;
    }
    .contactLeft i{
        font-size: 18px;

    }
    .contactRight form input,textarea{
        margin: 15px 0;
    }
    .contactRight form button{
        font-size: 15px;
    }
    .contactRight form{
        display: flex;
        justify-content: center;
    }
    .pbtns button{
        font-size: 15px;
        padding: 5px 6px;
    }
    .im1{
        padding: 0 10px;
    }
}